.list_table_wr {
  margin-bottom: 110px;
}
.list_table tr:nth-child(1) th {
  font-size: 18px;
  padding: 20px;
  background: #f7f8f9;
  font-weight: 600;
  border-top: 3px solid var(--black--);
}
.list_table td {
  font-size: 16px;
  padding: 25px 20px;
  font-weight: 600;
}

.list_table tr:last-child {
  border-bottom: 1px solid var(--coolgray01--);
}
.list_table thead tr ~ tr {
  border-top: 1px solid var(--coolgray01--);
}
.list_table tbody tr {
  cursor: pointer;
  border-top: 1px solid var(--coolgray01--);
}
/* 공지사항 */
.list_table thead tr th:nth-child(1) {
  border-color: var(--mainRed--);
}
.list_table tr > *:nth-child(1) {
  width: 77px;
}
.list_table tr > *:last-child {
  width: 115px;
}

.list_table td:last-child {
  color: var(--coolgray05--);
  font-weight: 500;
}

/* 게시물 보기 */

/* 페이지 리스트*/
.pagination {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page_link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  width: 40px;
  height: 40px;
  border-radius: 3px;
}
.pagination li {
  margin: 0 15px;
  cursor: pointer;
}
.page_item.active .page_link {
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

.page_item.active .page_link {
  color: var(--mainRed--);
}
.pagination li.noclick {
  pointer-events: none;
}
