.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex_top {
  display: flex;
  align-items: flex-start;
}

.flex_col {
  flex-direction: column;
}
/* layout */

.layout {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  min-height: calc(100vh - 280px);
}
.default_box {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.padding_bt_200 {
  padding-bottom: 200px;
}
.width_100 {
  width: 100%;
}
.logo {
  font-size: 32px;
  font-weight: 900;
  color: var(--mainRed--);
}
.logo span {
  color: var(--coolgray01--);
}
.nav {
  height: 80px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  z-index: 99;
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
}

/* font_style */
.bn_subtitle {
  font-size: 20px;
  font-weight: 500;
  color: var(--black--);
  margin-top: 7px;
}
.menu_title {
  font-size: 32px;
  font-weight: 600;
}
.bn_title_32 {
  font-family: "JalnanGothic";
  font-size: 32px;
  font-weight: 400;
}
.menu_subtitle {
  font-size: 16px;
  color: var(--coolgray05--);
  font-weight: 600;
}
.red {
  color: var(--mainRed--);
}
td.red {
  font-weight: 700;
}
.font_16 {
  font-weight: 600;
  font-size: 16px;
}
/* 버튼 */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--coolgray01--);
  border-radius: 50px;
}
.btn_default {
  padding: 20px 40px;
  border: 1px solid var(--coolgray05--);
  color: var(--coolgray05--);
  font-size: 20px;
  font-weight: 700;
}
.btn_secondary {
  padding: 20px 40px;
  border: 1px solid var(--mainRed--);
  color: var(--mainRed--);
  font-size: 20px;
  font-weight: 700;
}
.btn_box button ~ button {
  margin-left: 15px;
}
/* 입력창 */
input[type="text"] {
  border: 1px solid var(--coolgray01--);
  padding: 12px 10px;
  font-size: 16px;
  width: 100%;
}

/* kit list */
.kit_list_wr .menu_title {
  margin-bottom: 20px;
}
.kit_list {
  flex-wrap: wrap;
}

.kit_list > * {
  width: calc((100% - 75px) / 4);
}
.kit_list > * {
  margin-right: 25px;
}
.kit_list > *:nth-child(4n) {
  margin-right: 0;
}
.kit_list > *:nth-child(4n) ~ * {
  margin-top: 60px;
}
.kit_title,
.kit_list .thumb_img_wr {
  cursor: pointer;
}
.thumb_img_wr {
  height: 192px;
  background: var(--coolgray04--);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.thumb_bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.thumb_img_wr > img {
  width: auto;
  height: 100%;
  max-width: fit-content;
}
.bookmark_num,
.view_num {
  position: relative;
  padding-left: 22px;
  color: var(--coolgray05--);
  font-weight: 600;
  font-size: 13px;
}
.kit_title {
  font-weight: 600;
  font-size: 24px;
  color: black;
  line-height: 1.2;
  padding: 10px 0 1px;
}
.kit_auth {
  color: var(--coolgray05--);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.view_num {
  margin-left: 15px;
}

.bookmark_num::before,
.view_num::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(/public/images/bookmark.png) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.view_num::before {
  background: url(/public/images/view.png) no-repeat;
}
/* footer */

.f_logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--footerLogo--);
  width: auto;
  height: auto;
}
.footer_txt,
.footer_txt > * {
  color: #c2c2c2;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}
.footer_txt > li:last-child {
  margin-top: 9px;
}
.footer_txt > li:nth-child(2) {
  margin-top: 15px;
}

/* 페이지 공통 */
.page_bn_wr {
  height: 250px;
  position: relative;
  padding: 0 70px;
  top: -20px;
  background: var(--coolgray02--);
  border-radius: 10px;
  border: 1px solid var(--coolgray01--);
}

/* 커스텀 */

#search .list_section {
  margin-top: 23px;
}
#kitList .list_section:nth-child(1) {
  padding: 97px 0 63px;
}
#kitList .list_section:nth-child(2) {
  padding-top: 80px;
  border-top: 1px solid var(--coolgray01--);
}

#support .menu_title {
  margin: 30px 0;
}

/* 탭 */
.tab_box {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--coolgray01--);
  height: 70px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
.tab_item {
  width: calc(100% / 3);
  height: 100%;
  cursor: pointer;
  border-left: 1px solid var(--coolgray01--);
  border-right: 1px solid var(--coolgray01--);
  font-size: 24px;
  font-weight: 600;
}
.tab_item ~ .tab_item {
  border-left: none;
}
.tab_item.active {
  background: #fff;
  color: var(--mainRed--);
  position: relative;
}
.tab_item.active:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--mainRed--);
}

/* faq */

.faq_list {
  border-bottom: 1px solid var(--coolgray02--);
  cursor: pointer;
  font-weight: 600;
}

.faq_list > p > * {
  padding: 25px 0;
}
.faq_list > p > p {
  padding-left: 25px;
  width: calc(100% - 77px);
}
.faq_list:nth-child(1) > .q_list > * {
  border-top: 3px solid #000;
}
.faq_list:nth-child(1) > .q_list > .bullet {
  border-color: var(--mainRed--);
}
.faq_list .a_list {
  min-height: 200px;
}

.faq_list .bullet {
  display: inline-block;
  width: 77px;
  text-align: center;
}

.faq_list .a_list {
  background: #f7f8f9;
  border-top: 1px solid var(--coolgray02--);
}
