/* color */

:root {
  /*  */
  --mainRed--: #f02941;
  --coolgray01--: #bdc6d4;
  --coolgray02--: #eff1f4;
  --coolgray03--: #626262;
  --coolgray04--: #d9d9d9;
  --coolgray05--: #9ba6b8;
  --footer--: #9ba6b8;
  --footerLogo--: #6a6a6a;
  --black--: #292929;
  --fontWG--: #a1a1a1;
}
