.guide_btn {
  background: #161616;
  padding: 18px 23px 18px 30px;
  border-radius: 10px;
  border: 1px solid #f02941;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.guide_btn p,
button {
  color: #fff;
  font-weight: 600;
}
.arrow_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.location_wr {
  background: #161616;
  padding: 20px 0;
}
.location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.lo_page {
  font-size: 16px;
  font-weight: 600;
}
.lo_page svg {
  margin-right: 25px;
}
.lo_log {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 400;
}
.lo_log svg {
  margin: 0 14px;
}
.reg_img_wr {
  border-radius: 10px;
  overflow: hidden;
}
.default_image {
  background: "#454545";
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_btn {
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

/* 가이드라인 */
.guide_pop {
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.guide_pop_content {
  width: 1000px;
  height: 723px;
  border: 1px solid #404040;
  border-radius: 10px;
  background: #0a0a0a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 0;
}
.guide_bg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop_btn_wr {
  position: absolute;
  bottom: 0;
  background: #000;
  left: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close_btn {
  border-radius: 3px;
  background: #161616;
  width: auto;
}
