.gallery_wr {
  background: var(--coolgray02--);
  height: calc(100vh - 80px);
  position: relative;
}

.head {
  height: 60px;
  padding: 0 25px;
  background: #e4e8ee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.gallery_box {
  height: 100%;
  width: calc(100% - 500px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_wr {
  background: #fff;
  width: auto;
  height: auto;
  /* width: 850px;
  height: 630px; */
}
/* side_bar start */
.side_bar_wr {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 20px;
  width: 500px;
  height: calc(100% - 20px);
  background: #fff;
  border-radius: 0 0 0 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 13px;
  font-weight: 800;
  color: var(--mainRed--);
}
.logo span {
  color: var(--coolgray01--);
}
/* intro  start*/

.intro_wr {
  padding: 35px 0 0;
}
.intro_wr,
.assemble_wr {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}
.intro_wr li {
  margin: 0 30px;
}
.intro_wr li,
.assemble_wr > * {
  flex-shrink: 0; /* 이 요소들은 필요한 공간만 차지하고 나머지 공간을 줄이지 않음 */
}
.intro_wr .intro_con,
.kit_content {
  flex-grow: 1; /* 이 요소가 남은 공간을 모두 차지 */
}
.intro_wr li ~ li {
  padding: 25px 0;
  border-top: 1px solid var(--coolgray01--);
}
.area_wr {
  border-top: none !important;
}
.assemble_btn {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--coolgray01--);
  padding: 0 !important;
}
.assemble_btn button {
  color: var(--mainRed--);
  font-weight: 700;
  font-size: 24px;
  width: 100%;
  padding: 28px 0;

  height: 100%;
}
.obj_tit_wr {
  padding-bottom: 25px;
}
.obj_tit {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 23px;
}
.profile_wr {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--coolgray04--);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.profile_wr > img {
  width: 100%;
  height: 100%;
}

.side_content_wr {
  margin: 5px 0;
  background: #f7f8f9;
  border-radius: 10px;
  height: 100%;
}
.side_tab {
  height: 50px;
  /* padding: 0 15px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--coolgray01--);
}
.side_tab > span {
  display: flex;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.side_tab .act::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--mainRed--);
}
.side_content {
  padding: 25px;
}
.side_content > * {
  font-weight: 300;
  font-size: 16px;
  color: #717e93;
  line-height: 1.2;
}
.area_wr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.area_wr > span:first-child {
  color: var(--mainRed--);
  font-weight: 800;
  font-size: 13px;
}
.area_item,
.area_act_item {
  font-weight: 600;
  font-size: 12px;
  border-radius: 200px;
  padding: 7px 10px 7px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.area_item {
  padding: 8px 10px 8px 7px;
  background: var(--coolgray02--);
  color: var(--coolgray05--);
}
.area_act_item {
  color: var(--mainRed--);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* intro  end*/

/* 조립하기 */
/* .assemble_wr > * {
  padding: 22px 30px 22px 25px;
} */
.assemble_wr h4 {
  font-size: 13px;
  font-weight: 800;
  color: #717e93;
  margin-bottom: 10px;
}
.assemble_wr > * {
  width: 100%;
}
/* 각 파츠 아이템 */
.type_item,
.kit_content_item,
.kit_item {
  border-radius: 10px;
  border: 1px solid #d7dce4;
  overflow: hidden;
  cursor: pointer;
}
.type_content {
  background: #f7f8f9;
  overflow-x: auto;
  padding: 22px 25px 0;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 1px solid var(--coolgray01--);
}
.type_list_wr {
  overflow-x: auto;
}
.type_list_wr ul {
  width: fit-content;
}
.type_item {
  width: 42px;
  height: 42px;
}
.type_item ~ .type_item {
  margin-left: 15px;
}

.kit_content {
  padding: 22px 20px 22px 25px;
  height: 100%;
}
.kit_content_item {
  width: 75px;
  height: 75px;
}
.kit_content_item ~ .kit_content_item {
  margin-top: 10px;
}
.kit_item_content_wr {
  width: 380px;
  padding: 22px 30px;
  height: 100%;
  border-left: 1px solid var(--coolgray01--);
}
.kit_item_content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.kit_item {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.kit_item:nth-child(3) ~ .kit_item {
  margin-top: 10px;
}
.kit_item:nth-child(3n) {
  margin-right: 0;
}
.act_item {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border: 4px solid #f02941;
  position: relative;
}
.act_item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  border-radius: 6px;
}
/* 완성하기 */
.complete_head {
  padding: 14px 28px 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth_font {
  font-size: 16px;
  color: #adadad;
  font-weight: 600;
}
